.App {
  text-align: center;
}

.team-container{
  display: inline-block;
  border: 2px solid salmon;
  background-color: antiquewhite;
  margin: 20px;
  padding:20px;
  width: 350px;
  height: 400px;
}

.team-container h2 {
  color: brown;
}