.App {
  text-align: center;
  margin-top: 30px;
}

.team-container{
  display: block;
  border: 2px solid salmon;
  background-color: antiquewhite;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  width: 450px;
  height: 100px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  cursor: pointer;
}
.team-container:hover{
  box-shadow: 1px 1px 1px 1px black;
}

.team-container h2 {
  color: brown;
}

.user{
  display: block;
  padding: 2px;
  margin: 2px;
  border: 1px solid orange;
}

.user p{
  margin: 2px;
  font-size: 14px;
}

